In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data_sources/data_merged.csv")

In [3]:
df

,Country Name,Country Code,Continente,Sub-region,1991,1992,1993,1994,1995,1996,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,NaN,NaN,7.80,7.84,7.85,7.84,7.83,7.84,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,Asia,Southern Asia,10.65,10.82,10.72,10.73,11.18,10.96,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,NaN,NaN,4.42,4.53,4.55,4.54,4.53,4.57,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,Africa,Sub-Saharan Africa,4.21,4.21,4.23,4.16,4.11,4.10,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,Europe,Southern Europe,10.31,30.01,25.26,20.84,14.61,13.93,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,Oceania,Polynesia,2.10,2.38,2.63,3.04,3.19,3.47,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,Asia,Western Asia,8.32,8.31,8.35,8.34,8.96,9.59,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,Africa,Sub-Saharan Africa,29.95,29.98,29.92,29.89,29.89,29.87,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,Africa,Sub-Saharan Africa,18.90,19.37,19.70,18.43,16.81,15.30,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,Africa,Sub-Saharan Africa,4.94,4.99,4.97,4.96,5.63,6.25,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [4]:
dfnew = pd.DataFrame()
for y in df.columns[ 5: ]:
    dftemp = df.loc[ : , ['Country Name', 'Country Code', 'Continente', 'Sub-region', y]]
    dftemp["Year"] = y
    dftemp.columns = ['Country Name','Country Code', 'Continente', 'Sub-region','Value', 'Year']
    dftemp = dftemp.loc[ : , ['Country Name', 'Country Code', 'Continente', 'Sub-region','Year', 'Value']]
    dfnew = pd.concat([dfnew,dftemp])

In [5]:
dfnew

,Country Name,Country Code,Continente,Sub-region,Year,Value
0,Africa Eastern and Southern,AFE,NaN,NaN,1992,7.84
1,Afghanistan,AFG,Asia,Southern Asia,1992,10.82
2,Africa Western and Central,AFW,NaN,NaN,1992,4.53
3,Angola,AGO,Africa,Sub-Saharan Africa,1992,4.21
4,Albania,ALB,Europe,Southern Europe,1992,30.01
...,...,...,...,...,...,...
230,Samoa,WSM,Oceania,Polynesia,2021,9.84
231,"Yemen, Rep.",YEM,Asia,Western Asia,2021,13.57
232,South Africa,ZAF,Africa,Sub-Saharan Africa,2021,33.56
233,Zambia,ZMB,Africa,Sub-Saharan Africa,2021,13.03
234,Zimbabwe,ZWE,Africa,Sub-Saharan Africa,2021,5.17